
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #d8a94b;
}

a {
  color: #ffc85a;
}

a:hover {
  color: #cea249;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif ;
}

i {
  font-style: italic;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ffc85a;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #cea249;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  border-bottom: solid 1px #00000038;
}

#header.header-scrolled {
  height: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.premio2019 {
  width: 0;
  box-sizing: border-box;
  height: 100px;
  border: 40px solid #8e1212b3;
  border-bottom: 15px solid transparent;
  border-top: none;
  position: fixed;
  left: 15rem;
  z-index:10000;
  transition: all 0.4s;
  }
@media (max-width: 1400px) {
  .premio2019 {
    left: 1rem;
    top:80px;
    z-index: 996;
  }
  .premio-scrolled {
   top:60px;
  }
}


 .premio2019 > a {
    display: block;
    box-sizing: border-box;
    height: 20px;
    margin-left: 60px -.5;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 2px #000000;
    pointer-events: none;
  }

 .premio2019:hover {
    border: 40px solid #a30707b8;
    border-bottom: 15px solid transparent;
    border-top: none;
    cursor: pointer;
  }


/* Desktop Navigation */

@media (max-width: 1250px) {
  .nav-menu {
    right: 5rem;
    position: absolute;
  }
}

@media (max-width: 1075px) {
  .nav-menu {
    right: 1rem;
    position: absolute;
  }
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  justify-content: center;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #3b434a;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

#flag {
  display: block;
  margin-top: -1px;
  position: relative;
}

.nav-logo-i {
    margin-top: -1px;
    position: absolute;
    left: 1rem;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #f3c670;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3b434a;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #f3c670;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 34px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #3b434a;
  position: absolute;
  right: 1rem;
  margin-top: 6px;
  transition: all 0.4s;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #3b434a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #f3c670;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(36, 41, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.nav-scrolled-h{
 margin-top: -2px!important;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding: 30px 0 0 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: rgba(238, 240, 242, 0.7);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
I+D+i
--------------------------------------------------------------*/
#IDi {
  padding: 80px 0;
  position: relative;
  transition: all 0.4s;
}

#IDi::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(14, 16, 17, 0.7);
}

#IDi.Cimg1{
 background: url("../img/oro/1.jpg") no-repeat bottom center fixed;
 background-size: cover;
}

#IDi.Cimg2{
 background: url("../img/oro/2.jpg") no-repeat center center fixed;
 background-size: cover;
}

#IDi.Cimg3{
 background: url("../img/oro/3.jpg") no-repeat center center fixed;
 background-size: cover;
}

#IDi.Cimg4{
 background: url("../img/oro/4.jpg") no-repeat center center fixed;
 background-size: cover;
}

#IDi.Cimg5{
 background: url("../img/oro/5.jpg") no-repeat center center fixed;
 background-size: cover;
}

#IDi.Cimg6{
 background: url("../img/oro/6.jpg") no-repeat center center fixed;
 background-size: cover;
}


#IDi .section-header {
  margin-bottom: 40px;
}

#IDi .testimonial-item {
  text-align: center;
  color: #fff;
}

#IDi .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

#IDi .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

#IDi .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

#IDi .testimonial-item .quote-icon-left, #IDi .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

#IDi .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

#IDi .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

#IDi .testimonial-item p {
  margin: 0 auto 15px auto;
  color: #eee;
}

#IDi .owl-nav, #IDi .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#IDi .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

#IDi .owl-dot.active {
  background-color: #f3c670; !important;
}

@media (min-width: 1px) {
  #IDi {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  #IDi .testimonial-item p {
    width: 80%;
  }
}

/*-----------------------------
      Portfolio
-----------------------------*/

.vbox-title {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    padding: 6px 50px;
    overflow: hidden;
    position: fixed;
    display: none;
    left: 0;
    z-index: 89;
}

.portfolio-wrap {
text-align: center;
margin-bottom: 0px;
position: relative;
overflow: visible ;
}
.portfolio-links {
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
background: #fff;
color: #2f4d5a;
max-height: 115px;
}
.portfolio-wrap:hover h2 {
  color: #cea249;
}
.portfolio-wrap:hover span {
  color: #cea249;
}
.portfolio-wrap:hover .linkytentradas {
display: block;
}
.portfolio-info img {
overflow: visible;
}
.portfolio-links .portfolio-info {
max-height: 300px;
}
.portfolio-wrap h2 {
font-weight: 700;
margin-bottom: 10px;
font-size: 18px;
color: #2f4d5a;
position: relative;
padding: 10px;
}
.portfolio-wrap h2::after {
content: '';
position: absolute;
display: block;
width: 50px;
height: 1px;
background: #b1cbd7;
bottom: 0;
left: calc(50% - 25px);
}
.portfolio-wrap span {
font-style: italic;
display: block;
font-size: 13px;
padding: 10px;
}



.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 10px 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 7px 10px;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
  border: 2px solid #fff;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #f3a200;
  border-color: #ffb727;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}


.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/oro/999.jpg") bottom center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1px) {
  #footer {
    background-attachment: fixed;
  }
}

#footer .container {
  position: relative;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Raleway";
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 24px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.gold {
  color: #444444;
  text-align: center;
  padding: 20px 0 30px 0;
background: rgba(252,234,187,0.89);
background: -moz-linear-gradient(-245deg, rgba(252,234,187,0.89) 0%, rgba(255,247,229,0.9) 9%, rgba(255,230,153,0.93) 25%, rgba(255,255,255,0.94) 35%, rgba(255,234,181,0.95) 43%, rgba(255,255,255,0.97) 54%, rgba(250,244,177,0.97) 63%, rgba(250,236,203,0.97) 71%, rgba(240,215,158,0.97) 79%, rgba(255,245,178,0.97) 88%, rgba(251,223,147,0.97) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,0.89)), color-stop(9%, rgba(255,247,229,0.9)), color-stop(25%, rgba(255,230,153,0.93)), color-stop(35%, rgba(255,255,255,0.94)), color-stop(43%, rgba(255,234,181,0.95)), color-stop(54%, rgba(255,255,255,0.97)), color-stop(63%, rgba(250,244,177,0.97)), color-stop(71%, rgba(250,236,203,0.97)), color-stop(79%, rgba(240,215,158,0.97)), color-stop(88%, rgba(255,245,178,0.97)), color-stop(100%, rgba(251,223,147,0.97)));
background: -webkit-linear-gradient(-245deg, rgba(252,234,187,0.89) 0%, rgba(255,247,229,0.9) 9%, rgba(255,230,153,0.93) 25%, rgba(255,255,255,0.94) 35%, rgba(255,234,181,0.95) 43%, rgba(255,255,255,0.97) 54%, rgba(250,244,177,0.97) 63%, rgba(250,236,203,0.97) 71%, rgba(240,215,158,0.97) 79%, rgba(255,245,178,0.97) 88%, rgba(251,223,147,0.97) 100%);
background: -o-linear-gradient(-245deg, rgba(252,234,187,0.89) 0%, rgba(255,247,229,0.9) 9%, rgba(255,230,153,0.93) 25%, rgba(255,255,255,0.94) 35%, rgba(255,234,181,0.95) 43%, rgba(255,255,255,0.97) 54%, rgba(250,244,177,0.97) 63%, rgba(250,236,203,0.97) 71%, rgba(240,215,158,0.97) 79%, rgba(255,245,178,0.97) 88%, rgba(251,223,147,0.97) 100%);
background: -ms-linear-gradient(-245deg, rgba(252,234,187,0.89) 0%, rgba(255,247,229,0.9) 9%, rgba(255,230,153,0.93) 25%, rgba(255,255,255,0.94) 35%, rgba(255,234,181,0.95) 43%, rgba(255,255,255,0.97) 54%, rgba(250,244,177,0.97) 63%, rgba(250,236,203,0.97) 71%, rgba(240,215,158,0.97) 79%, rgba(255,245,178,0.97) 88%, rgba(251,223,147,0.97) 100%);
background: linear-gradient(245deg, rgba(252,234,187,0.89) 0%, rgba(255,247,229,0.9) 9%, rgba(255,230,153,0.93) 25%, rgba(255,255,255,0.94) 35%, rgba(255,234,181,0.95) 43%, rgba(255,255,255,0.97) 54%, rgba(250,244,177,0.97) 63%, rgba(250,236,203,0.97) 71%, rgba(240,215,158,0.97) 79%, rgba(255,245,178,0.97) 88%, rgba(251,223,147,0.97) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
  background-size: 400% 300%;
  animation: BgGradient 7s ease infinite;
}
@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
